// nav 
h1,
h2,
h3,
h4,
h5 {
    font-family: 'Quicksand', sans-serif;
}

h1 {
    font-size: 4em;
}

h2 {
    font-size: 3.5em;
}

h1,
h2,
h3 {
    font-weight: 700;
}

nav {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 20;

    img {
        height: 50px;
    }
}


#banner {
    background-size: cover;
    background-position: bottom;
    height: 80vh;

    .separator {
        position: absolute;
        left: 0;
        bottom: 0;
    }
    h1 {
        color:$pink;

    font-size:6em;
    }
}


// Popular 


.title {
    h5 {
        font-size: 1em;
    }

    .line {
        width: 40px;
        background: #5687ca;
        height: 2px;
        border-radius: 10px;
    }
}

.cardo {
    height: 300px;
    overflow: hidden;
    z-index: 1;
    cursor: pointer;

    &:hover .filter {
        background: linear-gradient(red, blue);
    }

    .name {
        z-index: 3;

        h5 {
            font-size: .9em;
        }
    }

    .filter {
        transition: all .3s ease;
        background: linear-gradient(transparent, black);
        opacity: .5;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
        position: absolute;
    }

    img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
        z-index: -1;
    }

    .number {
        background: $indigo;
        z-index: 4;
        margin-right: -18px;
    }
}

// App-banner

#app-banner {
    background: $indigo;
    height: 400px;

    .btn {
        border-radius: 50px
    }

    i {
        font-size: 1.5em;
    }

    span {
        font-size: .7em;
    }

    h5 {
        font-size: 1.1em;
        font-weight: bold;
    }

    .app-img {
        position: absolute;
        right: 110px;
        top: 55px;
        height: 450px;
        transform: rotate(8deg);
    }
}


//activity

#header-title {
    height: 200px;
    background-position: center;
    background-size: cover;
}

#advantages {
    i {
        font-size: 2em;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .icon {
        width: 65px !important;
        border: solid 1px $blue;
        border-radius: 50px;
        height: 65px;
        color: $danger;
        transition: all .3s ease;
    }

    .info:hover .icon {
        background: $blue;
        color: white;
        border: none;
    }
}

//guides 

#guides {
    a {
        color: inherit;
        text-decoration: none;
    }

    img {
        height: 220px;
        width: 100%;
        object-fit: cover;
    }
}

footer {

    background: $indigo;
    
    i {
        cursor:pointer;
        text-decoration: none;
    }

    & *{
        color:white!important;
    }
    &>div {
        &:first-child {
            background:$pink;
        }
    }
}


#description {
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}